[submodule "dockerfiles/echoserver"]
	path = dockerfiles/echoserver
	url = git://github.com/DevinY/echoserver.git
[submodule "dockerfiles/osshd"]
	path = dockerfiles/osshd
	url = https://github.com/DevinY/osshd.git
