.env
etc/*
!etc/dlaravel-release
!etc/php
!etc/cache
!etc/php-fpm.d
!etc/default-ssl.sample
!etc/default.sample
!etc/swoole.sample
!etc/networks/default.conf
!etc/default-ssl.sample
!etc/supervisor
!etc/mysql/my.cnf
!etc/mysql/my.cnf.sample
!etc/public.sample
!etc/public-ssl.sample
etc/php/php.ini
!etc/ssl/*
ext/
run/
*.swp
*.pyc
scripts/__pycache__/
data/
docker-compose.yml
docker-compose-custom.yml
!.gitignore
*.sql
Dockerfile_db
Dockerfile_php
Dockerfile_web
