.env
etc/*
!etc/dlaravel-release
!etc/php
!etc/cache
!etc/php-fpm.d
!etc/default.conf
!etc/default-ssl.sample
!etc/networks/default.conf
!etc/default-ssl.sample
!etc/supervisor
!etc/mysql/my.cnf
!etc/mysql/my.cnf.sample
!etc/public.conf
etc/php/php.ini
!etc/ssl/*
ext/
run/
*.swp
data/
docker-compose.yml
docker-compose-custom.yml
!.gitignore
