upstream laravels {
    # Connect IP:Port
    server 127.0.0.1:5200 weight=5 max_fails=3 fail_timeout=30s;
    keepalive 16;
}
server {
    listen 80;

    set $basepath "/var/www/html";
    set $domain $host;

    # check one name domain for simple application
	if ($domain ~ "^(.[^.]*)\.\w+$") {
		set $domain $1;
		set $rootpath "${domain}";
		set $servername "${domain}.\w+";
	}
    # check multi name domain to multi application
	if ($domain ~ "^(.*)\.(.[^.]*)\.\w+$") {
		set $subdomain $1;
		set $domain $2;
		set $rootpath "${domain}";
		set $servername "${subdomain}.${domain}.\w+";
	}


    #The location of our project's public directory.
    root $basepath/$rootpath/public/;

    index index.php index.html index.htm;

    # Nginx 处理静态资源，LaravelS 处理动态资源
    location / {
        try_files $uri @laravels;
    }

    location @laravels {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Real-PORT $remote_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header Scheme $scheme;
        proxy_set_header Server-Protocol $server_protocol;
        proxy_set_header Server-Name $server_name;
        proxy_set_header Server-Addr $server_addr;
        proxy_set_header Server-Port $server_port;
        proxy_pass http://laravels;
    }
}
